@import "../../../variables.css";

#bio {
  margin-bottom: 3rem;
}

#bio div {
  height: fit-content;
}

#bio .socials {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  #bio .content-wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
