@import "../../variables.css";

header {
  padding: 2vh;
  height: 100vh;
  text-align: center;
  margin-bottom: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/timosmit.jpg");
  box-shadow: var(--blue) 0px -20rem 20rem -28px inset;
}

header nav {
  height: 8vh;
  position: absolute;
}

header nav img {
  height: inherit;
}

header section {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header section h1 {
  margin: 0;
  font-size: 3rem;
  color: var(--white);
  filter: drop-shadow(0 2px 8px var(--blue));
}

.arrow {
  display: block;
  height: 2rem;
  width: 2rem;
  border-style: solid;
  border-color: var(--white);
  border-width: 0 1px 1px 0;
  background-color: transparent;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  position: absolute;
  bottom: 5rem;
  left: 50%;
}

.arrow:hover {
  border-bottom-width: 3px;
  border-right-width: 3px;
  cursor: pointer;
}
