:root {
  --black: #000000;
  --blue: #23286b;
  --dark-blue: #121435;
  --white: #ebe7ef;
  --dark-white: #d6dee1;
  --darkest-white: #a8bbbf;
  --yellow: #f1b503;
  --dark-yellow: #f1b503d9;
  --shadow: #0000004d;
}
