@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");
@import "./variables.css";

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.5;
  color: var(--white);
  background: var(--blue);
  min-height: 80rem;
  scroll-behavior: smooth;
}

span {
  color: var(--yellow);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-white);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkest-white);
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--yellow);
}

li {
  list-style-type: none;
}
