@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.5;
  color: #ebe7ef;
  background: #23286b;
  min-height: 80rem;
}

main {
  width: 70vw;
  margin: auto;
}

main h2 {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: #ebe7ef;
}

section span {
  color: #f1b503;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
